.middle {
  display: none;
}
@media only screen and (min-width: 1024px) {
  .middle {
    align-items: center;
    display: flex;
    width: 60%;
  }
  .searchBar {
    background-color: #fcf4e1;
    border: none;
    flex: 1;
    margin-right: 20px;
    padding: 10px;
  }
}
