.input {
	width: 350px;
	font-size: 20px;
	padding-left: 30px;

	border: none;
	outline: none;
	background: none;
}

.input:focus::placeholder {
	color: transparent;
}

.inputDiv {
	margin-bottom: 3rem;
	border-bottom: 2px solid;
}

.textBox {
	display: flex;
	padding: 10px 5px 5px;
}

.inputName {
	font-size: 20px;
	font-weight: bold;
}

@media only screen and (max-width: 1023px) {
	.input {
		width: 250px;
		font-size: 18px;
	}

	.input::placeholder {
		color: rgb(75, 75, 75);
	}
}
