.loginBtnWrapper {
  text-align: center;
}

.loginBtn {
  /** size and font */
  width: 250px;
  height: 55px;
  font-weight: bold;
  font-size: 18px;

  /** design */
  cursor: pointer;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0 4px 3.7px 0 rgba(0, 0, 0, 0.25);
}

.loginBtn:active {
  box-shadow: 0 2px 3.7px 0 rgba(0, 0, 0, 0.25);
  transform: translateY(2px);
}
