.container {
  display: flex;
}

.imageContainer {
  flex: 1;
  height: 100vh;
  position: relative;
}

.logoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.pageName {
  padding-left: 30px;
  color: rgb(3, 3, 3);
  font-size: 55px;
  font-weight: bold;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100vh;
}

@media only screen and (max-width: 1023px) {
  .container {
    background-image: url("/loginImage.jpg");
    background-position: center;
    background-size: cover;
  }

  .imageContainer {
    display: none;
  }
}
