.container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	overflow-y: hidden;
}

.imageDiv {
	height: 100vh;
}

@media only screen and (max-width: 1023px) {
    .container {
		display: flex;
		justify-content: center;
		align-content: center;

		background-image: url(../../public/loginImage.jpg);
		background-position: center;
		background-size: cover;
	}

	.imageDiv {
        display: none;
	}
}

@media only screen and (min-width: 1630px) {
    .container {
		display: flex;
		justify-content: center;
		align-content: center;
	}
}