.container {
	background-image: url("/background.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 30px;
}
.demoImage {
	width: 100%;
}
.textWrapper {
	margin-top: 20px;
}
.descript {
	margin-top: 10px;
}
@media only screen and (min-width: 1024px) {
	.container {
		padding: 50px 20%;
	}
	.textWrapper {
		margin-top: 50px;
	}
}
