.container {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  flex-wrap: wrap;
}
.subNavs {
  display: flex;
  flex-direction: column;
  width: calc(calc(100% / 2) - 20px);
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.subNav {
  margin-bottom: 5px;
  flex: 1;
}
.subNav:first-child {
  font-weight: bold;
}
@media only screen and (min-width: 1024px) {
  .container {
    width: 50%;
    margin-top: 0;
  }
  .subNavs {
    width: calc(calc(100% / 4) - 20px);
  }
}
