@import "../../../styles/mixins";

.container {
  @include flex-common($justify: space-between);

  border-bottom: 1px solid;
  padding: 10px 20px;
}

.title {
  @include text-style(25px, bold);
}

@mixin desktop {
  .container {
    padding: 10px 40px 20px;
  }
}
