.container {
  border-bottom: 1px solid;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
.title {
  font-weight: bold;
  font-size: 25px;
}
@media only screen and (min-width: 1024px) {
  .container {
    padding: 10px 40px 10px 20px;
  }
}
