.container {
	display: flex;
	flex: 1;
	flex-direction: column;
	padding: 0 20px;
	margin-top: 20px;
}
.descript {
	margin-top: 10px;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
	display: -webkit-box;
}
@media only screen and (min-width: 1024px) {
	.container {
		width: 50%;
	}
	.descript{
	margin-top: 20px;
	}
}
