.container {
	display: flex;
	background-color: #ffefd5;
	align-items: center;
	flex-direction: column-reverse;
	padding: 0 30px;
}
@media only screen and (min-width: 1024px) {
	.container {
		padding: 0 20%;
		flex-direction: row;
	}
}
