$white: #fff;
$night-rider: #333;
$black: #000;
$old-rose: #bf1650;
$nobel: #999;
$dodger-blue: #1e90ff;
$medium-spring-green: #3f9;
$froly: #e56c75;
$early-dawn: #fcf4e1;
$matterhorn: #4b4b4b;
$papaya-whip: #ffefd5;
