.inputContainer {
  border-bottom: 2px solid;
}

.inputContainer:not(:last-child) {
  margin-bottom: 3rem;
}

.loginButton {
  background-image: linear-gradient(
    to right,
    rgba(30, 144, 255, 1),
    rgba(30, 144, 255, 0.45),
    rgba(30, 144, 255, 1)
  );
}
