@import "../../styles/mixins";
@import "../../styles/variables";

.container {
  display: flex;
}

.sidebar {
  display: none;
}

.pageContent {
  flex: 1;
}

.redirectNonUser {
  @include flex-center;

  height: 100vh;
}

.login {
  color: $dodger-blue;
}

.signup {
  color: $old-rose;
}

@include desktop {
  .sidebar {
    display: block;
    border-bottom: 1px solid;
    width: 20%;
    padding: 30px;
    max-height: 250px;
  }
  .pageContent {
    border-left: 1px solid;
    width: 80%;
  }
}
