.container {
  display: flex;
}

.sidebar {
  display: none;
}

.pageContent {
  flex: 1;
}

@media only screen and (min-width: 1024px) {
  .sidebar {
    border-bottom: 1px solid;
    display: block;
    width: 20%;
    padding: 30px;
    max-height: 250px;
  }
  .pageContent {
    border-left: 1px solid;
    width: 80%;
  }
}
